################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/FutbolAPI.Business/bin/Debug/netcoreapp3.1
/FutbolAPI.Business/obj
/FutbolAPI.Web/bin/Debug/netcoreapp3.1
/FutbolAPI.Web/obj/Debug/netcoreapp3.1
/FutbolAPI.Web/obj
/FutbolAPI.Web/Properties
